@{
    ViewBag.Title = "SuperStars";
}

<h2>SuperStars</h2>

@Html.SuperStars(0)

@Html.SuperStars(3)

@Html.SuperStars(4.5)

@Html.SuperStars(10, 6.4)

@Html.SuperStars(10, 6.6)

@Html.SuperStars(5, true)

@Html.SuperStars(10, true, true)
